@model task.Models.Student

@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Session["UserId"] = Model.Username;
}

<h2>Home</h2>
<h2>Welcome,@Html.DisplayFor(model => Model.StudentName)</h2>

