@model IEnumerable<DBcontext.DBModels.Product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
   
}



<div>
    <div id="Existing" class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-4">
                
                <img src="@item.ImageLink" />
                <h2>@item.Name - @item.Model</h2>
                <p><ul><li>Rs./@item.Price</li><li>Rating: @item.Rating</li></ul></p>
            </div>
        }
    </div>
 </div>
