@model DBcontext.ServiceModels.SellerLogin
@{
    ViewBag.Title = "Home Page";
   @* @Session["Login"]= Model.Name;*@
}


<div class="productsidenav">
    <ul id="ul">
        <li>
            <a href="#about">filter</a>
        </li>
        <li>
            <a href="#services">Services</a>
        </li>
        <li>
            <a href="#clients">price</a>
        </li>
        <li>
            <a href="#contact">ratings</a>
        </li>
    </ul>
</div>

<div class="jumbotron">
    <h1>Welcome</h1>

</div>